<!DOCTYPE html>
<html lang="fr">
<script src="/assets/packages/masonry.pkgd.min.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <!-- Fancybox CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />

  <!-- Masonry JS (optional imagesLoaded for layout fix) -->
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

  
  <!-- Fancybox JS -->
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

    <!-- Load Geist Fonts from Google-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap" rel="stylesheet">  

</head>
<body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const grid = document.querySelector('.photo-grid');
    let msnry;
    imagesLoaded(grid, function () {
      msnry = new Masonry(grid, {
        itemSelector: '.pcard',
        percentPosition: true,
        gutter: 10
      });
    });
    window.addEventListener('resize', function () {
      if (msnry) msnry.layout();
    });
  });

  // Optional: Initialize Fancybox (auto for [data-fancybox] links)
  Fancybox.bind("[data-fancybox]", {});
</script>

  {% include header.html %}
  <h2> {{page.title}} </h2>
  <main>
    {{ content }}
  </main>
</body>
  {% include footer.html %}
</html>
