---
layout: page
---

<div class="home">

  <div class="flex-container" id="topbar">
    <a href="https://www.notion.so/rshaw/Subject-Notes-882d824f9d3b4d30945a25c5b2dbdc1e">
      <div class="toplink">
        notes
      </div>
    </a>
  
    <!-- <a href="">
      <div class="toplink">
        cv
      </div>
    </a>
     -->
    <a href="photos">
      <div class="toplink">
        photos
      </div>
    </a>
  
  </div>

  {{ content }}

</div>
<!-- <div class="flex-container" id="links">

  <a href="https://www.notion.so/rshaw/Subject-Notes-882d824f9d3b4d30945a25c5b2dbdc1e">
    <div class="link">
      notes
    </div>
  </a>

  <a href="">
    <div class="link">
      cv
    </div>
  </a>
  
  <a href="photos">
    <div class="link">
      photos
    </div>
  </a>

  <a href="https://www.instagram.com/robbie6shaw">
    <div class="link">
      instagram
    </div>
  </a>
</div> -->